@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&family=Victor+Mono:wght@100&display=swap');

*{   /*  Reset para o Navegador  */
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#75e0fb, #bbb9b4);
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}

.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #1a4994;
    font-family: 'Metal Mania', cursive;
}
.icon, .email {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color: rgb(69, 177, 240); 
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family: 'Metal Mania', cursive;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color: #4d8cf9;
    line-height: 35px;
    font-size: 17px;
}
.nome-icon {
    font-family: 'Metal Mania', cursive;
    margin-right: 40px;
    float: right;
    color: #f2f2f2;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover {
    width: 125px;
    background-color: rgb(226, 225, 224);
    border-radius: 20px;
}
.redes-sociais{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}
.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 200px;
    padding: 50px;
    border-radius: 24px;
    color: rgb(237, 233, 233);
    background: rgb(3, 26, 62);
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
.sobre-mim{
    position: absolute;
    top: 15px; /* Move o topo do h2 para o centro vertical */
    display: flex;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}
.langs{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.langs img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 20px;
    margin: 5px;
    background: rgb(163, 160, 157);
    color: rgba(232,202,179);
    box-shadow: 2px 2px 2px rgb(98, 98, 98);;
    cursor: pointer;

}

.subtituto{
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 15px;
    color: #1a4994;
    font-family: 'Metal Mania', cursive;
}
.projetos {
    margin: auto;
    margin-top: 40px;
    flex-direction: column;
}
.projetos a{
    text-decoration: none;
    color: rgba(232,202,179);
}
.item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Metal Mania', cursive;
    color: rgb(25, 36, 87);
    border: 1px solid rgb(63, 197, 246);;
    border-radius: 50px;
    width: 570px;
    height: 60px;
    margin-bottom: 7px;
    font-size: 22px;
    background:rgb(247, 245, 243);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
}
.item:hover, .submit:hover{
    transition: 0.2s;
    background-color: #cecece;
}
.rodape p {
    color: #1a4994;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    font-family: 'Metal Mania', cursive;
}
#movie{
    padding: 15px;
    margin: auto;
    display: none
}
#movie.active{
    display: block;
}

@media (max-width: 700px) {
    .imagem img{
        width: 150px;
        border-radius: 200px;
        margin-top: 30px;
    }
    .texto{
        width: 290px;
        height: 500px;
    }
    .item{
        width: 350px;
    }
    .langs img{
        width: 165px;
    }
    #movie{
        width: 330px;
    }
}
@media (max-width: 500px) {
    .imagem img{
        width: 130px;
        border-radius: 200px;
        margin-top: 30px;
    }
    .nome{
        font-size: 26px;
    }
    .subtituto{
        margin-top: 35px;
        font-size: 24px;
    }
    .texto{
        padding: 15px;
        width: 244px;
        height: 400px;
        margin-top: 30px;
    }
    .texto p{
        font-size: 14px;
    }
    texto p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #movie{
        width: 270px;
        height: 160px;
    }
    .item{
        height: 40px;
        width: 265px;
    }
    .langs img{
        margin-top: 15px;
        width: 120px;
    }
    .icon, .email{
        height: 25px;
        width: 25px;
        border-radius: 30px;
    }
    .icon i, .email i{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 15px;
        border-radius: 30px;
    }
    .icon:hover {
        width: 125px;
    }
    .rodape p {
        font-size: 25px;
        margin-top: 20px;
        padding: 50px ;
    }
    .icon:hover{
        width: 25px;
    }
    .icon span{
        margin-right: 43px;
        font-weight: 100;
        line-height: 24px;
        font-size: 15px;
    }
}